### Packages Required

In [39]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.metrics import roc_auc_score,confusion_matrix,classification_report

In [9]:
import keras
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import keras.models as km
from keras.models import Sequential
from keras.layers import Dense

### Datasets

In [5]:
df = pd.read_csv('C:/Users/Nithin/Downloads/Churn_AI_Keras_Regression/Datasets/Churn_Modelling.csv')
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [7]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

**--Drop Unwanted columns**

In [10]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [12]:
df.drop(columns=['RowNumber', 'CustomerId', 'Surname'],axis=1,inplace=True)

In [17]:
df.select_dtypes('object')

     Geography  Gender
0       France  Female
1        Spain  Female
2       France  Female
3       France  Female
4        Spain  Female
...        ...     ...
9995    France    Male
9996    France    Male
9997    France  Female
9998   Germany    Male
9999    France  Female

[10000 rows x 2 columns]

In [21]:
df_final = pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True)

### Train Test Split

In [23]:
x = df_final[df_final.columns.difference(['Exited'])]
y = df_final.Exited

In [24]:
train_x,test_x,train_y,test_y = train_test_split(x,y,test_size=0.3,random_state=123)

In [28]:
sc = StandardScaler()
train_x_std = sc.fit_transform(train_x)
train_x_std = pd.DataFrame(train_x_std,columns=train_x.columns)
test_x_std = sc.transform(test_x)
test_x_std = pd.DataFrame(test_x_std,columns=test_x.columns)

In [31]:
train_x_std.shape

(7000, 11)

### Model

In [ ]:
Dense()

In [35]:
M0 = Sequential()
M0.add(Dense(units= 6, activation = 'relu', input_dim = 11))
M0.add(Dense(units= 6, activation = 'relu'))
M0.add(Dense(units= 1, activation = 'sigmoid'))

In [36]:
M0.compile(optimizer='adam',loss='binary_crossentropy',metrics = ['accuracy'])

In [38]:
M0.fit(train_x_std,train_y,batch_size=10,epochs=10)

Epoch 1/10
700/700 [==============================] - 5s 4ms/step - loss: 0.5083 - accuracy: 0.7889
Epoch 2/10
700/700 [==============================] - 2s 4ms/step - loss: 0.4431 - accuracy: 0.7980
Epoch 3/10
700/700 [==============================] - 2s 3ms/step - loss: 0.4304 - accuracy: 0.8089
Epoch 4/10
700/700 [==============================] - 3s 4ms/step - loss: 0.4223 - accuracy: 0.8184
Epoch 5/10
700/700 [==============================] - 3s 4ms/step - loss: 0.4154 - accuracy: 0.8234
Epoch 6/10
700/700 [==============================] - 3s 4ms/step - loss: 0.4098 - accuracy: 0.8283
Epoch 7/10
700/700 [==============================] - 3s 4ms/step - loss: 0.4048 - accuracy: 0.8319
Epoch 8/10
700/700 [==============================] - 3s 4ms/step - loss: 0.4006 - accuracy: 0.8341
Epoch 9/10
700/700 [==============================] - 3s 4ms/step - loss: 0.3968 - accuracy: 0.8374
Epoch 10/10
700/700 [==============================] - 3s 4ms/step - loss: 0.3927 - accuracy: 0.8407

In [48]:
pred = M0.predict(test_x_std)

94/94 [==============================] - 0s 2ms/step

### Evaluation

In [49]:
roc_auc_score(test_y,pred)

0.8203019375765627

In [51]:
pred = pred>0.2

In [52]:
confusion_matrix(test_y,pred)

array([[1790,  605],
       [ 152,  453]], dtype=int64)

In [54]:
print(classification_report(test_y,pred))

              precision    recall  f1-score   support

           0       0.92      0.75      0.83      2395
           1       0.43      0.75      0.54       605

    accuracy                           0.75      3000
   macro avg       0.67      0.75      0.69      3000
weighted avg       0.82      0.75      0.77      3000